.divide10{margin-top: 5px; margin-bottom: 5px;}
.divide20{margin-top: 10px; margin-bottom: 10px;}
.divide30{margin-top: 15px; margin-bottom: 15px;}
.divide40{margin-top: 20px; margin-bottom: 20px;}
.divide50{margin-top: 25px; margin-bottom: 25px;}